.container {
    max-width: 800px;
    margin-right: 50%;
    padding: 20px;
    display: flex;
}

.add-employee {
    width: 50%; /* Занимает половину ширины контейнера */
    margin-right: 20px; /* Промежуток между блоками */
    margin-left: 20%;
}

.add-employee form {
    background-color: #f2f2f2;
    padding: 20px;
}

.list-employees {
    width: 50%; /* Занимает половину ширины контейнера */
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}
